/************mobile mode**/

@media (min-width: 200px) and (max-width: 650px){
    .main{
        width: 400px;
        background-color: black;
        margin: 0px auto;
    }
    
    .heade{
        display: flex;
        margin: 20px;
    }

    .section{
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: row; */
        /* flex-direction: column; */
    }
    
    .h1head{
       flex: 2; 
       color: aliceblue;
       margin: 10px;
    }
    
    .sectiondiv2{
        order: -1;
        flex: 1 0 100%;
        
        text-align: center;
    }

    .imag{
        height: 200px;
        width: 150px;
    }
    
    .sectiondiv1{
        flex: 1;
        order: 1; 
        margin-top: 30px;
        
    }
    
    .sectiondiv3{
        flex: 1;
        order:2;
        margin: 30px 10px 10px;
    }
    
    .fontsmall{
        font-size: 11px;
    }
    
    .fontlarg{
        font-size: 30px;
    }
    
    .end{
        text-align: end;
        margin-right: 15px;
    }
    
    .coler{
        color: rgb(219, 126, 154);
    }
    
    .butten{
        background-color: rgb(243, 179, 95);
        border-radius: 5px;
        margin: 15px 10px;
        padding: 5px 15px;
    }
    
    .margin{
        margin: 12px 10px;
        color: aliceblue;
    }
    
    .colorwith{
        color: aliceblue;
    }
    
    .mar{
        margin: 80px 0px 15px 0px;
    }
    
    .marginsmall{
        margin-top: 15px;
    }
    .syclemain{
        position: relative ;
        border: 2px solid rgb(23, 159, 184) ;
        border-radius: 25px ;
        padding: 20px;
        border-radius: 35px;
        width: 3px;
        left: 80px;
    }
    
    .sycle{
        position: relative ;
        border: 2px solid rgb(209, 72, 8) ;
        border-radius: 25px ;
        padding: 8px;
        border-radius: 35px;
        width: 2px;
        left: 110px;
        bottom: 15px;
    }
    
    .spher{
        padding: 10px;
        background-color: aqua;
        border-radius: 35px;
        width: 2px;
        margin:0px 0px 30px 90px;
        display: none;
    }
    }
    



/***************  ** tablet mod****/


@media (min-width: 650px){
.main{
    width: 650px;
    background-color: black;
    margin: 0px auto;
}

.heade{
    display: flex;
    margin: 20px;
}

.section{
    display: flex;
    margin: 20px;
}

.h1head{
   flex: 2; 
   color: aliceblue;
   margin: 10px;
}
.sectiondiv2{
    flex: 1;
}

.imag{
    height: 450px;
}

.sectiondiv1{
    flex: 1;
    margin-top: 30px;
}

.sectiondiv3{
    flex: 1;
    margin: 0px 20px;
}

.fontsmall{
    font-size: 11px;
}

.fontlarg{
    font-size: 30px;
}

.end{
    text-align: end;
    margin-right: 15px;
}

.coler{
    color: rgb(219, 126, 154);
}

.butten{
    background-color: rgb(243, 179, 95);
    border-radius: 5px;
    margin: 15px 10px;
    padding: 5px 15px;
}

.margin{
    margin: 25px 10px;
    color: aliceblue;
}

.colorwith{
    color: aliceblue;
}

.mar{
    margin: 110px 0px 0px 0px;
}

.marginsmall{
    margin-top: 15px;
}
.syclemain{
    position: relative ;
    border: 2px solid rgb(23, 159, 184) ;
    border-radius: 25px ;
    padding: 20px;
    border-radius: 35px;
    width: 3px;
}

.sycle{
    position: relative ;
    border: 2px solid rgb(209, 72, 8) ;
    border-radius: 25px ;
    padding: 8px;
    border-radius: 35px;
    width: 2px;
    left: 25px;
    bottom: 50px;
}

.spher{
    padding: 10px;
    background-color: aqua;
    border-radius: 35px;
    width: 2px;
    margin:0px 0px 30px 90px;
}
}


/* ******************************desktop */

@media (min-width: 1024px){
    .main{
        width: 900px;
        background-color: black;
        margin: 0px auto;
    }
    
    .heade{
        display: flex;
        margin: 20px;
    }

    .section{
        display: flex;
        margin: 20px;
    }
    
    .h1head{
       flex: 2; 
       color: aliceblue;
       margin: 10px;
    }
    .sectiondiv2{
        flex: 2;
        text-align: center;
    }

    .imag{
        width: 300px;
        height: 450px;
    }
    
    .sectiondiv1{
        flex: 1;
        margin-top: 30px;
    }
    
    .sectiondiv3{
        flex: 1;
        margin: 0px 20px;
    }
    
    .fontsmall{
        font-size: 14px;
    }
    
    .fontlarg{
        font-size: 30px;
    }
    
    .end{
        text-align: end;
        margin-right: 15px;
    }
    
    .coler{
        color: rgb(219, 126, 154);
    }
    
    .butten{
        background-color: rgb(243, 179, 95);
        border-radius: 5px;
        margin: 15px 10px;
        padding: 5px 15px;
    }
    
    .margin{
        margin: 25px 10px;
        color: aliceblue;
    }
    
    .colorwith{
        color: aliceblue;
    }
    
    .mar{
        margin: 80px 0px 0px 0px;
    }
    
    .marginsmall{
        margin-top: 15px;
    }
    .syclemain{
        position: relative ;
        border: 2px solid rgb(23, 159, 184) ;
        border-radius: 25px ;
        padding: 20px;
        border-radius: 35px;
        width: 3px;
    }
    
    .sycle{
        position: relative ;
        border: 2px solid rgb(209, 72, 8) ;
        border-radius: 25px ;
        padding: 8px;
        border-radius: 35px;
        width: 2px;
        left: 25px;
        bottom: 50px;
    }
    
    .spher{
        padding: 10px;
        background-color: aqua;
        border-radius: 35px;
        width: 2px;
        margin:0px 0px 30px 90px;
    }
    }
